<section>
  <div class="show">
    <h1><%= @car.name %> - <%= @car.year %></h1>

    <img src="<%= @car.image %>" class = "img-responsive">

    <p>Engine: <%= @car.engine %> <%= @car.engine_config %></p>

    <p>Tyres: <%= @car.tyre_manufacturer %>, <%= @car.tyre_type %></p>

    <p>Weight: <%= @car.weight %>kg</p>

    <p>Race wins: <%= @car.wins %></p>

    <p>Won drivers championship: <%= @car.drivers_championship %></p>

    <p>Won constructers championship: <%= @car.constructors_championship %></p>

    <p id="edit-delete"><%= link_to 'Edit', edit_car_path(@car) %> | <%= link_to 'Delete', @car, method: :delete %></p>
      
  </div>
</section>